.responsive {
    width:100%;
    height:auto;
  
  }
  
  .grey-box {
    background-color:rgb(33, 35, 39) ;
    height: 300px;
  }
  
  
  .img-right{
    margin-top: -9rem;
    width: 50%;
  
  }
  

  .img-left {
    padding-left: 4rem;
  }
  

 