* {
    margin:0px;
    padding: 0px; 
    box-sizing: border-box;
    
}
header {
    background-image: url(pictures/header.png.png);
    background-position: center; 
    background-size: cover;
    background-repeat: repeat;
    width: auto;
    height: 60vw;
}

.headline { 
    display: flex; 
    justify-content: center;
   
}
.headline-content {
    display:flex;
    max-width: 700px;
    margin:0 auto;
    flex-direction: column;
    
}
.first-text {
   
    font-size: 1.2rem;
    font-weight: 100;
    

}

h2 {
    font-size: 3.9rem;
    font-weight: 900;
    margin-bottom:20px;
    text-align: center;
   
}
h4 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 100; 
}

body { 
    font-family: 'PT Sans', sans-serif;
    color: rgb(68, 70, 75);
    
    
}

.header-h1 { 
    text-align: center;
    margin-top: 0px; 
}

.responsive {
    width:100%;
    height:auto;

}

.grey-box {
    background-color:rgb(33, 35, 39) ;
    height: 300px;
}


.text-img {
    position: relative;
    text-align: center;
    

}
.centered { 
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: 1rem;
   

}


.bottom-left { 
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: left;
    color: white; 
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    top:45%;
    left: 70%; 
    text-align: right;
    display: column;
    color: white;
    transform: translate(-50%, -50%);
}

.flex-box1 {
   
    
    display:flex;
    align-items: flex-start;
    justify-content: center;



}

.flex-box1 p {
    width: 50%;
}


.img-right{
    margin-top: -9rem;
    width: 50%;

   
}

.youtubability { 
    margin-bottom: 30px;
}
.content {
    max-width: 700px;
    margin: 0 auto;
    padding: 150px 0 80px;

}

.flex-box2{
    display:flex; 
    flex-direction: row;
    height: 500px;
    align-items: center;
    text-align: right;

}

.text-flex2 {
    padding-right: 100px;
    
}

.centered-text{
    text-align: left;
    padding-left: 130px;
    padding-right: 100px;
    
}

.footer { 
    position: relative;
    
}

 /*tablet=767, 479 mobile, 980 ipad, 1440 mac/PC*/
@media (max-width: 767px) {
    p {
        font-size: 0.8rem;}
        
    .text-flex1 {
        font-size: 0.8rem;}
    .headline {
        text-align: left;
        margin-bottom: 7rem;}
    .centered{
        font-size: 0.6rem;}
    .flex-box1 {
        flex-direction: column-reverse;}
    .content{
        padding: 40px 1rem;}


    

}